In [69]:
from selenium import webdriver 
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from selenium.webdriver.common.keys import Keys
driver = webdriver.Chrome('C:/chromedriver.exe')
driver.get('https://www.gg.go.kr/bbs/board.do?bsIdx=722&menuId=2903#page=1')
import time

In [70]:
a = []
b = []
c = []
d = []
e = []
f = []
g =[]

for n in range(1,100): ##여기 30은 그 다음페이지 넘어가는 거라서 40개씩 보는걸로 해놨기 때문에 만약 검사결과가    
# get titles, address(url)

    res = driver.page_source
    soup = BeautifulSoup(res, "html.parser")
    contents = soup.select('#boardList > tbody > tr')
    for i in range(0,len(contents)):
        content = contents[i]
        a.append(content.select_one('td:nth-child(1)').text)
        b.append(content.select_one('td:nth-child(2)').text)
        c.append(content.select_one('td:nth-child(3)').text)
        d.append(content.select_one('td:nth-child(4)').text)
        e.append(content.select_one('td:nth-child(5)').text)
        f.append(content.select_one('td:nth-child(6)').text)
        g.append(content.select_one('td:nth-child(7)').text)
            
    page_bar = driver.find_elements_by_css_selector('ul.pagination > li > a')
    try:
        if n<=10:
            if n%10 != 0:
                page_bar[n%10+1].click()
                time.sleep(1)
            else:
                page_bar[11].click()
                time.sleep(2)
        else:
            if n%10 != 0:
                page_bar[n%10+2].click()
                time.sleep(1)
            else:
                page_bar[12].click()
                time.sleep(2)
    except:
        print("수집완료")
        break
    time.sleep(0.5)
    
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
수집완료

In [71]:
data = {'연번':a, '전국번호':b, '확진일자': c, '지역(선별)' : d,
       '발생경위': e,'관련성':f, '격리병원':g}
df = pd.DataFrame(data)
df.describe()

          연번     전국번호  확진일자 지역(선별)           발생경위   관련성   격리병원
count   1479     1479  1479   1479           1479  1479   1479
unique  1464     1464   183     30            987   144    123
top     1438  환자13762  3.16    부천시  8100번 환자의 접촉자        성남의료원
freq       2        2    32    186             41  1260    264

In [72]:
df

,연번,전국번호,확진일자,지역(선별),발생경위,관련성,격리병원
0,1479,환자13929,7.22,용인시,"’20.7.22일까지 해외방문(오만), 특별한 증상 발현 없음, 보건소 선별진료",해외유입 371 (오만),성남의료원
1,1478,환자13928,7.22,포천시,"포천 ㅇㅇ부대 소속 군인, 7.21일 인후통 등 증상발현, 부대 내 의료기관 출장 선별",포천 군부대,포천병원
2,1477,환자13922,7.22,동두천시,13354번 환자의 접촉자,강남구 사무실 (V빌딩),이천병원
3,1476,환자13918,7.22,의정부시,13868번 환자의 접촉자,강남구 사무실 (유환DnC),성남의료원
4,1475,환자13919,7.22,의정부시,13868번 환자의 접촉자,강남구 사무실 (유환DnC),성남의료원
...,...,...,...,...,...,...,...
1474,5,환자15,2.02,수원시,4번 환자와 동일 비행기 탑승,,국군수도병원
1475,4,환자14,2.02,부천시,12번 환자 배우자,,분당서울대병원
1476,3,환자12,2.01,부천시,일본 확진 환자 접촉자,,분당서울대병원
1477,2,환자4,1.27,평택시,입국 후 증상악화 능동감시 중 페렴확인,,분당서울대병원
1478,1,환자3,1.26,고양시,입국 후 증상발현 명지병원 격리·발견,,명지병원

In [73]:
df.to_excel('경기도 확진자 정보.xlsx')

In [54]:
df2 = df.drop_duplicates(['연번'], keep='first')

In [68]:
df3 = df2[df2['지역(선별)']=='이천시']
df3

,연번,전국번호,확진일자,지역(선별),발생경위,관련성,격리병원
152,1148,환자12580,6.25,이천시,"’20.6.21일까지 해외방문(미국), 특별한 증상발현 없음, 보건소 선별진료",,성남의료원
268,559,환자10137,4.3,이천시,"’20.3.31일까지 해외방문(미국), 두통, 코막힘 등 증상발현, 보건소 선별진료",,이천병원 생활치료센터

In [57]:
df2.groupby(['지역(선별)']).count()

        연번  전국번호  확진일자  발생경위  관련성  격리병원
지역(선별)
가평군      2     2     2     2    2     2
고양시     17    17    17    17   17    17
과천시      1     1     1     1    1     1
광명시      4     4     4     4    4     4
광주시      9     9     9     9    9     9
구리시      4     4     4     4    4     4
군포시      5     5     5     5    5     5
김포시     13    13    13    13   13    13
남양주시    17    17    17    17   17    17
부천시     19    19    19    19   19    19
성남시     17    17    17    17   17    17
수원시     33    33    33    33   33    33
시흥시      6     6     6     6    6     6
안산시     25    25    25    25   25    25
안성시      5     5     5     5    5     5
안양시     10    10    10    10   10    10
양주시      6     6     6     6    6     6
오산시      3     3     3     3    3     3
용인시     34    34    34    34   34    34
의왕시      3     3     3     3    3     3
의정부시     5     5     5     5    5     5
이천시      2     2     2     2    2     2
파주시     12    12    12    12   12    12
평택시     82    82    82    82   82    82
포천시      2     2     2     2    2     2
하남시      3     3     3     3    3     3
화성시     23    23    23    23   23    23